* {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
}

.header_logo {
    width: 100%;
    background-color: rgb(65, 65, 65);
    padding: 10px;
    filter: drop-shadow(0px 4px 6px #000000);

    & .hamburger-react {
        display: none;
    }

    & .abro {
        display: none;
    }

    & img {
        width: 120px;
    }
}

.main {
    width: 100%;
    min-height: 100vh;
    height: 100%;
    background-color: #242424;
}

.main_container {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 0;
    /* padding: 0 0 30px; */
    height: 100%;
    position: relative;
    overflow: hidden;
}

.filterAsideContainer {
    min-height: 100vh;
    flex: 1;
    display: flex;
    padding: 20px 10px;
    flex-direction: column;
    background-color: rgb(42, 42, 42);
    filter: drop-shadow(-5px 7px 8px #000000);
    gap: 10px;
    z-index: 10;

    & .filterHeader {


        & .closeButtonStyle {
            display: none;
        }
    }
}

.bookList_container {
    flex: 4;
    width: 100%;
    display: flex;
}

.bookList_container-counterBooks {
    flex: 2;
    margin: 0 25px;

    & .bookList_container-counterBooks-header {
        z-index: 60;

        & .stickyClass_container {
            padding-bottom: 3px;
            background-color: #242424;
            /* filter: drop-shadow(0px 11px 5px rgba(0, 0, 0, 0.25)); */
            z-index: 100;
        }
    }

    & .bookList_container-counterBooks-body {
        position: relative;
        margin-top: 20px;
        z-index: 60;
    }

    & h1 {
        color: #fff !important;
        margin-top: 20px;
        font-size: 20px;
    }
}

.card {
    --bs-card-border-width: none !important;
}

.bookList_container-countCards {
    margin: 20px auto;
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: center;

    & .card-body {
        background-color: rgb(42, 42, 42);
    }

    .tituloCount,
    .countCard-p {
        color: #fff !important;
    }
}

.bookList_container-book {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    padding-bottom: 30px;
}

.bookList_container-favorites {
    filter: drop-shadow(0px 4px 6px #000000);
    background-color: rgb(42, 42, 42);
    border-radius: 5px;
    padding: 10px;
    margin: 20px 15px;
    width: 320px;


    & .closeButtonStyle {
        display: none;
    }

    .favoritesBookHeader {
        display: flex;
        align-items: center;
        justify-content: space-between;

        & h3 {
            color: #fff !important;
            font-size: 20px !important;
            margin: 0;
        }
    }

    & h4 {
        color: #ffffff6c;
        padding: 5px;
    }
}

.favButton {
    background-color: transparent;
    border: none;
    width: 100%;
    position: absolute;
    left: -5px;
    z-index: 50;

    & img {
        width: 30px;
        position: inherit;
        right: 15px;
    }
}

.noButton {
    border: none;
    background-color: transparent;
}

.card {
    height: 380px;
    filter: drop-shadow(0px 4px 6px #000000);
}

.card-body {
    padding: 8px !important;

    &.card-title {

        font-size: 12px
    }

    & p {
        font-size: 12px;
    }
}

.cardImg {
    margin: auto;
}

.card-title-h5 {
    font-size: 14px !important;

    & p {
        font-size: 14px !important;
    }
}

.card-img,
.card-img-top,
.card-img-bottom {
    width: 100%;
    height: 250px;
}

.eachBookButton {
    position: relative;

    & .card {
        background-color: rgb(42, 42, 42);
        width: 150px;
        height: 345px !important;
        color: #fff;
    }

    & a {
        text-decoration: none !important;
    }
}

.text-muted {
    font-size: 15px !important;
}

.countCard-p {
    font-size: 18px !important;
    font-weight: 600;
}

.genreStyle-h3 {
    color: #fff;
    font-size: 15pt;
}

.bookDetail_container {
    width: 100%;
}

.detailCard_container {
    position: relative;
    display: flex;
    flex-direction: column-reverse;


    & .detailCard_container-button {
        margin: 15px;
    }

    & .detailCard_container-card {
        display: flex;
        margin: 10px;

        & .detailCard_container-card-detail {
            display: flex;
            flex-direction: row;
            color: #fff;
            align-items: flex-start;


            & .detailCard_img {
                width: 30%;
                object-fit: contain;
            }

            & .detailCard_container-detail-data {
                display: flex;
                flex-direction: column;
                margin-left: 15px;
                width: 60%;
            }
        }
    }
}

.bookResult_container {
    position: relative;
    display: flex;
    flex-direction: column;

    & .detailCard_container-button {
        margin: 15px;
    }
}

.showFavorite_container {
    margin: 10px;
    width: 190px;

    & .favBookSection {
        display: flex;
        flex-direction: row;
        position: relative;
        align-items: flex-end;

        & .favBookSection_img {
            width: 50px;
        }

        & .favBookSection_title {
            font-size: 10px;
            color: #fff !important;
            margin-left: 5px;
            width: 50% !important;
            font-size: 11px !important;

        }

        & p {
            color: #ba2e2e;
        }
    }
}

.gotTopArrow {
    display: none;
    position: fixed;
    width: 100%;
    bottom: 0px;
    right: -80%;
    z-index: 150;
    border: none;
    opacity: 0.4;

    & img {
        width: 70px;
    }
}

.backgroundImg {
    position: absolute;
    width: 90%;
    left: 42px;
    top: 110px;
    opacity: 0.5;
}

.backgroundImg2 {
    position: absolute;
    width: 161%;
    right: -600px;
    bottom: 0;
    opacity: 0.3;
}

@media (max-width:768px) {

    .filterAsideContainer {
        position: absolute;
        z-index: 150;
        left: -380px;
        transition: all 0.5s ease-in-out;

        & .filterHeader {
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
            align-items: center;

            & .closeButtonStyle {
                display: block;
                margin: 0 10px;
                padding: 0;
            }
        }
    }

    .showFilter {
        translate: 380px;
    }

    .bookList_container-counterBooks {
        width: 100%;
        margin-bottom: 60px;
        width: 87% !important;

        & h1 {
            margin: 20px 0 0 15px;
            font-size: 20px !important;
        }

        .bookList_container-counterBooks-header {
            & .stickyClass_container {
                padding-bottom: 3px;
                background-color: #242424;
                z-index: 100;
            }
        }

        .bookList_container-counterBooks-body {
            position: relative;
            margin-top: 20px;
        }
    }

    .bookList_container-countCards {
        margin: 15px;

        & .card-body {
            justify-content: space-between;
            align-items: center;
        }
    }

    .bookList_container-favorites {
        position: absolute;
        z-index: 150;
        right: -470px;
        transition: all 0.5s ease-in-out;

        .favoritesBookHeader {
            display: flex;
            align-items: center;
            justify-content: space-between;

            & h3 {
                color: #fff !important;
                font-size: 20px !important;
                margin: 0;
            }

            & .closeButtonStyle {
                display: block;
                margin: 0 10px;
                padding: 0;
            }
        }
    }

    .showFav {
        translate: -470px;
    }

    .card-body {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding: 8px !important;

        & .text-muted {
            font-size: 11pt !important;
        }
    }

    .header_logo {
        display: flex;
        justify-content: space-between;

        & .hamburger-react {
            display: block;
        }

        & .abro {
            display: block;
        }
    }

    .gotTopArrow {
        display: block;
    }

    .backgroundImg {
        width: 156%;
        left: -80px;
        top: 179px;
    }

    .backgroundImg2 {
        width: 229%;
        right: -420px;
    }
}